*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.game-body{
    flex: 1;
    padding: 10px;
}

.head{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:20px;
}

.head span{
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 1000;
}

.head span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 5px;
    background-color: crimson;
    transition: all 0.3s ease-in-out;
}

.player-x::before{
  width: 100%;
}

.player-o::before{
  width: 100%;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width:70%;
    
}

.board-tile{
    padding: 35px;
    height: 134px;
    width: 134px;
    font-size: 40px;
    color: rgba(14, 119, 145, 0.678);
}

.board-tile:hover{
    background-color: rgba(236, 120, 143, 0.336);
}

.board-tile:nth-child(n+4){
    border-top: 2px solid #e48497;
}

.tile{
    border-right: 2px solid #e48497;
}